<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Insert WorkOrder in: @machine</h4>
            </div>
            <div class="modal-body">
                <table>
                    <thead>Current WorkOrder</thead>
                    <tr>
                        <td>wo</td>
                        <td>start</td>
                        <td>end</td>
                    </tr>
                    <tr>
                        <td>@wo</td>
                        <td>@t.startTime</td>
                        <td>@t.endTime</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Insert</button>
                <button type="button" class="btn btn-secondary" @onclick="@(()=>display.InvokeAsync(false))">Dispose</button>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public EventCallback<bool> display { get; set; }
    [Parameter]
    public string machine { get; set; } = "";
    [Parameter]
    public string wo { get; set; } = "";
    [Parameter]
    public StartTimeAndEndTime t{ get; set; } = new StartTimeAndEndTime(DateTime.Now, DateTime.Now);
}