@page "/schedulingCalculation"
@using MyBlazor.Shared
@using MyBlazor.Shared.DataClass
@inject StateContainer stateContainer
@inject IToastService toastService
@inject NavigationManager navigationManager
<div class="container">
	<div class="row" style="align-items:center">
        <div class="col-auto">
            <button class="button @GABtnCss" @onclick="StartGA">Start Genetic Algo.</button>
        </div>
        <div class="col">
			<span style="position:absolute; left:50%; font-size:12px">@round/@stateContainer.GetGAConfig().iteration</span>
            <progress class="progress is-warning" value=@round max="@stateContainer.GetGAConfig().iteration"></progress>
        </div>
  </div>
</div>
<br>
<table class = "table table-striped table-sm" style="width:auto; text-align:center">
	<thead class="thead-light">
			<tr>
				<th>Visualize</th>
				<th>ID Index</th>
				<th>Duetime</th>
				<th>Job(s) Count</th>
			</tr>
	</thead>
	@foreach(SchedulingHistory schedulingHistory in stateContainer.GetSchedulingData())
	{
		<tr>
			<td>
				<button class="button is-primary is-rounded is-light" style="border:none" @onclick="(()=>
					{
						SchedulingHistory target = stateContainer.GetSchedulingHistoryByDateTimeString(schedulingHistory.index);
						stateContainer.SetCurrentScheduling(target);
						GoToChart();
					})">
					<i class="oi oi-bar-chart"></i>
				</button>
			</td>
			<td>
				@schedulingHistory.index
			</td>
			<td>
				@if (schedulingHistory.dueTime >= TimeSpan.Zero)
	            {
					<label style="color:palevioletred">@schedulingHistory.dueTime.ToString("h'h 'm'm 's's'")</label>
	            }
	            else
	            {
		            <label style="color:lawngreen">No duetime in this scheduling</label>
	            }
			</td>
			<td>
				@schedulingHistory.jobsCount
			</td>
		</tr>
	}
</table>

@code {
	private int round;
	private string GABtnCss = "";

	/*
	//static data without rescheduling
	private List<WOJobs> allWOJobs = new();
	private Dictionary<string, int> machineTypesAndCount = new();
	private List<MachineTypeList> machineTypeLists = new();
	private List<int> typeJobsCount = new();
	//complete after scheduling
	private List<List<Job>> jobTypeMachineList = new();
	//dynamic programig
	private Dictionary<(string, string), DateTime> machineNextAvailable = new();
	private Dictionary<string, DateTime> woNextAvailable = new();

	//history date record
	private List<List<Job>> bestJobs = new();
	private TimeSpan bestTime = TimeSpan.MaxValue;
	private Dictionary<(string, string), DateTime> bestMachineNextAvailable = new();
	private Dictionary<string, DateTime> bestWONextAvailable = new();
	*/
	protected override void OnInitialized()
	{
		base.OnInitialized();
	}

	protected override Task OnInitializedAsync()
	{
		round = stateContainer.GetCurrentRound();
		GABtnCss = stateContainer.GetGABtnCSS();

		stateContainer.OnCurrentRoundChange += GetCurrentRound;
		stateContainer.OnGABtnCssChange += GetGABtbCSS;
		return base.OnInitializedAsync();
	}

	public void Dispose()
	{
		stateContainer.OnCurrentRoundChange -= GetCurrentRound;
		stateContainer.OnGABtnCssChange -= GetGABtbCSS;
	}

	private void GoToChart()
	{
		navigationManager.NavigateTo("schedulingChart");
	}

	private void GetCurrentRound(int currentRound)
	{
		round = currentRound;
		StateHasChanged();
	}
	private void GetGABtbCSS(string newGABtnCss)
	{
		GABtnCss = newGABtnCss;
		StateHasChanged();
	}

	//algo
	/*
	private async Task StartGA()
	{
	stateContainer.UIStartGA();
	if (!CheckWOJobsAndMachine())
	{//make sure type cost list length in wo is same as type machine count
	return;
	}
	typeJobsCount = GenericAlgo.InitTypeJobCounts(allWOJobs);
	jobTypeMachineList = GenericAlgo.InitMachineBufferByJobs(allWOJobs,typeJobsCount,machineTypesAndCount);
	InitWONextAvailable();
	machineTypeLists = stateContainer.GetMachineTable();

	for (int i = 0; i < stateContainer.GetGAConfig().iteration; i++)
		{
		InitMachineNextAvailable();
		InitWONextAvailable();
		List<List<Job>> copyMachineBuffer = GenericAlgo.CopyMachineBuffer(jobTypeMachineList);
		GenericAlgo.AssignJobsToMachineBuffer(allWOJobs, ref copyMachineBuffer);
		GenericAlgo.FillJobsTimes(ref copyMachineBuffer, machineTypeLists, typeJobsCount, ref machineNextAvailable, ref  woNextAvailable);
		TimeSpan newTime = GenericAlgo.CalculateDueTime(allWOJobs, woNextAvailable);
		if (newTime < bestTime)
			{
			bestTime = newTime;
			bestJobs = copyMachineBuffer;
			bestMachineNextAvailable = machineNextAvailable;
			bestWONextAvailable = woNextAvailable;
		}
		stateContainer.SetCurrentRound(i+1);
		await Task.Delay(1);
	}
	SchedulingHistory newScheduling = new SchedulingHistory(DateTime.Now, bestJobs, bestTime, bestMachineNextAvailable, bestWONextAvailable);
	stateContainer.SetCurrentScheduling(newScheduling);
	stateContainer.AddSchedulingData(newScheduling);

	stateContainer.UIFinishGA();
	StateHasChanged();
	toastService.ShowSuccess("scheduling finished");
	}
*/

	private async Task StartGA()
	{
		stateContainer.UIStartGA();
		//static value
		List<WOJobs> allWOJobs = stateContainer.GetWOJobs().ToList<WOJobs>();
		List<int> typeJobsCount = GenericAlgo.InitTypeJobCounts(allWOJobs);
		List<MachineTypeList> machineTypeLists = stateContainer.GetMachineTable();
		Dictionary<string, int> machineTypesAndCount = stateContainer.GetMachineTypeCount();
		List<List<Job>> jobTypeMachineList = GenericAlgo.InitMachineBufferByJobs(allWOJobs,typeJobsCount,machineTypesAndCount);//empty buffer

		/* **************Init first generation population************** */
		List<SchedulingHistory> parentPopulation = new();

		for (int i = 0; i < stateContainer.GetGAConfig().population; i++)
		{
			//dynamic programing Init each iteration
			Dictionary<(string, string), DateTime> dpMachineTable = GenericAlgo.InitMachineNextAvailable(stateContainer.GetMachineData());
			Dictionary<string, DateTime> dpWOTable = GenericAlgo.InitWONextAvailable(stateContainer.GetWOJobs());
			//empty job buffer
			List<List<Job>> machineBuffer = GenericAlgo.CopyMachineBuffer(jobTypeMachineList);
			GenericAlgo.AssignJobsToMachineBuffer(allWOJobs, ref machineBuffer);
			GenericAlgo.FillJobsTimes(ref machineBuffer, machineTypeLists, typeJobsCount, ref dpMachineTable, ref  dpWOTable);
			TimeSpan newTime = GenericAlgo.CalculateDueTime(allWOJobs, dpWOTable);

			parentPopulation.Add(new SchedulingHistory(i+1, machineBuffer, newTime, dpMachineTable, dpWOTable));

			await Task.Delay(10);
		}
		parentPopulation = GenericAlgo.ReorderPopluationIndex(parentPopulation);
		/* **************generate child by crossover, selection or mutation and population each iteration************** */

		foreach (var a in parentPopulation)
			{
				Console.WriteLine(a.dueTime);
			}

		for (int i = 0; i < stateContainer.GetGAConfig().iteration; i++)
		{
			//selection top 5 from parent
			List<SchedulingHistory> childPopulation = new();
			childPopulation = parentPopulation.GetRange(0, stateContainer.GetGAConfig().parentRemainCount);

			//selection by Roulette wheel method
			List<double> priorityList = new();
			priorityList = parentPopulation.Select(x => x.dueTime.TotalSeconds).ToList();
			double max = priorityList.Sum();
			priorityList = priorityList.Select(x => x / max).ToList();
			priorityList.Reverse();
			double tmp = 0.0;
			for (int j = 0; j< priorityList.Count; j++)
			{
				tmp += priorityList[j];
				priorityList[j] = tmp;
			}
			while (childPopulation.Count < stateContainer.GetGAConfig().population)
			{
				List<List<Job>> child1 = GenericAlgo.GetChildChromosomeByRoulette(parentPopulation, priorityList);
				List<List<Job>> child2 = GenericAlgo.GetChildChromosomeByRoulette(parentPopulation, priorityList);

				List<List<List<Job>>> offspringList = GenericAlgo.Crossover(child1, child2);
				for (int k = 0;  k<offspringList.Count; k++)
				{
					if (childPopulation.Count < stateContainer.GetGAConfig().population)
					{
						//dynamic programing Init each iteration
						Dictionary<(string, string), DateTime> dpMachineTable = GenericAlgo.InitMachineNextAvailable(stateContainer.GetMachineData());
						Dictionary<string, DateTime> dpWOTable = GenericAlgo.InitWONextAvailable(stateContainer.GetWOJobs());
						//empty job buffer
						var t = offspringList[k];
						GenericAlgo.FillJobsTimes(ref t, machineTypeLists, typeJobsCount, ref dpMachineTable, ref  dpWOTable);
						TimeSpan newTime = GenericAlgo.CalculateDueTime(allWOJobs, dpWOTable);
						if (newTime == TimeSpan.Zero)
						{
							
						}
						childPopulation.Add(new SchedulingHistory(childPopulation.Count ,t, newTime, dpMachineTable, dpWOTable));
					}
				}
			}
			parentPopulation = GenericAlgo.ReorderPopluationIndex(childPopulation);
			Console.WriteLine("generation: "+i);
			foreach (var a in parentPopulation)
			{
				Console.WriteLine(a.dueTime);
			}
			await Task.Delay(10);
		}
		stateContainer.AddSchedulingData(parentPopulation[0]);
		stateContainer.UIFinishGA();
		StateHasChanged();
		toastService.ShowSuccess("scheduling finished");
	}
	/*
	private void InitMachineNextAvailable()
	{
		machineNextAvailable = new();
		foreach (MachineData machineData in stateContainer.GetMachineData())
		{
			machineNextAvailable.Add((machineData.machineName, machineData.index), machineData.nextAvailableTime);
		}
	}

	private void InitWONextAvailable()
	{
		woNextAvailable = new();
		foreach (WOJobs wojobs in stateContainer.GetWOJobs())
		{
			woNextAvailable.Add(wojobs.wo, DateTime.MinValue);
		}
	}

	private bool CheckWOJobsAndMachine()
	{
		allWOJobs = stateContainer.GetWOJobs().ToList<WOJobs>();//copy one from state container
		machineTypesAndCount = stateContainer.GetMachineTypeCount();
		foreach (WOJobs wo_jobs in allWOJobs)
		{
			if(wo_jobs.GetJobsCount() != machineTypesAndCount.Count)
			{
				return false;
			}
		}
		return true;
	}*/
}
